/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Container Basic Class */
.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Unstyle Unordered List */
ul {
    list-style-type: none;
}

/* Clean a tag decoration */
a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #297cbb;
}
