/* Map Section Part */
.map {
    text-align: center;
    border-bottom: .2rem solid #e4e4e4;
}

.map h3 {
    font-size: 4rem;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: thin;
    margin-top: 5rem;
}

.map h3:after {
    content: "";
    display: block;
    left: 50%;
    margin-left: -1.5rem;
    position: absolute;
    width: 3rem;
}

.map i {
    color: rgb(0, 98, 51);
}

#googleMap {
    height: 500px;
}
