/* Full Width and Height (R) */
.full-size {
	width: 100vw;
	height: 100vh;
}

/* Absolutely Positioned (R) */
.position-absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.position-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

/* Background Properties (R) */
.bgd-properties {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Flex Layout Properties (R) */
.flex-properties {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Image Sliding Animation */
.img-animation {
	animation: imageSlideShow 24s linear infinite 0s;
}

/* Image Sliding Animation */
.title-animation {
	animation: titleSlideShow 24s linear infinite 0s;
}

/* Reem Kufi, 150px size */
.reem-kufi-150 {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 9.375em;
}

/* Fira Sand Condensed, 100px size */
.fira-sans-condensed-100 {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 6.25em;
}

/* Reem Kufi, 150px size */
.satisfy-100 {
	font-family: 'Satisfy', cursive;
	font-size: 6.25em;
}

/* Reem Kufi, 150px size */
.reem-kufi-100 {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 6.25em;
}

/* H3 Font, 20px */
.miller-20px {
	font-family: 'Miller Daily', 'Georgia', 'Times', 'Times New Roman', serif;
	font-size: 1.25em;
}

/* Give full size to images */
.slideShow li span {
	opacity: 0;
	z-index: 0;
}

/* Position image's lock ups */
.slideShow li div {
	opacity: 0;
	color: #fff;
	z-index: 1000;
}

/* Target image space and inject image onto it */
.slideShow li:nth-child(1) span {
	background-image: url(../images/camelRide.jpg);
}

.slideShow li:nth-child(2) span {
	background-image: url(../images/assilah.jpg);
	animation-delay: 6s;
}

.slideShow li:nth-child(3) span {
	background-image: url(../images/fesSky.jpg);
	animation-delay: 12s;
}

.slideShow li:nth-child(4) span {
	background-image: url(../images/chefchaouneDoor.jpg);
	animation-delay: 18s;
}

/* Set animation delay for lock ups */
.slideShow li:nth-child(2) div {
	animation-delay: 6s;
}
.slideShow li:nth-child(3) div {
	animation-delay: 12s;
}
.slideShow li:nth-child(4) div {
	animation-delay: 18s;
}

/* Scroll Down Arrow */
.arrow-color {
	color: #fff;
}

.arrow {
	text-align: center;
	width: auto;
	height: auto;

	position: absolute;;
	bottom: 20px;
	left: 50%;
}

.bounce {
	animation: bounce 2s infinite;
}

/* Keyframes */
@keyframes imageSlideShow {
	0%   {opacity: 0; animation-timing-function: ease-in}
	5%  {opacity: 1; animation-timing-function: ease-out}
	25%  {opacity: 1;}
	33%  {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes titleSlideShow {
	0%   {opacity: 0;}
	5%  {opacity: 1;}
	25%  {opacity: 1;}
	29%  {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes bounce {
	0% {transform: translateY(0);}
	20% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	50% {transform: translateY(0);}
	60% {transform: translateY(-15px);}
	80% {transform: translateY(0);}
	100% {transform: translateY(0);}
}
